################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Books/.vs/Books/v15/Server/sqlite3
/Books/.vs/Books/v15/sqlite3/db.lock
